* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
}

#game-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container > canvas {
  border: 3px solid #fff;
  border-radius: 5px;
}
